header {
  padding: 30px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// search input
.search-input {
  margin: auto;
}

.search-input {
  display: flex;
  align-items: center;
}

.search-button {
  background-color: var(--color);
  color: #fff;
  border-radius: 5px;
}

.logo {
  height: 4em;
  padding-right: 10px;
}

.settings-button {
  padding-left: 10px;
  cursor: pointer;
  color: var(--color);
}

.search-button {
  box-shadow: 2px 0px 2px var(--color);
}

.input-field {
  width: 500px;
}

.close-button {
  border: none;
  background-color: transparent;
}

// sort
.label {
  color: grey;
}

.sort {
  display: none;
}

.showSettings {
  display: block;
  margin: auto;
}

.title,
.filter-input {
  margin: 5px;
}
