header {
  padding: 30px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
