:host {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #e5e5e5;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  margin: auto;
}

.search-input {
  display: flex;
  align-items: center;
}

.search-button {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 0 5px var(--color);
  background-color: var(--color);
  color: #fff;
}

.logo {
  height: 4em;
  padding-right: 10px;
}

.settings-button {
  padding-left: 10px;
  color: var(--color);
  cursor: pointer;
}

.search-button {
  box-shadow: 2px 0px 2px var(--color);
}

.input-field {
  width: 500px;
}

.close-button {
  border: none;
  background-color: transparent;
}

.label {
  color: grey;
}

.sort {
  display: none;
}

.showSettings {
  display: block;
  margin: auto;
}

.title,
.filter-input {
  margin: 5px;
}
