:host {
  margin: auto;
}

.search-input {
  display: flex;
  align-items: center;
}

.logo {
  height: 4em;
  padding-right: 10px;
}

.settings-button {
  height: 1em;
  padding-left: 10px;
}

.input {
  width: 300px;
}
