<mat-spinner *ngIf="isLoading; else itemBlock" color="#2f80ec"></mat-spinner>
<ng-template #itemBlock>
  <div *ngIf="item; else emptyBlock" class="item-block">
    <img src="{{item.snippet.thumbnails.high.url}}" alt="{{ item.snippet.title }}" class="logo equal">
    <div [appDateStatus]="item.snippet.publishedAt" class="text equal">
      <div class="headers">
        <h3 class="title">{{ item.snippet.title }}</h3>
        <p class="date">{{ item.snippet.publishedAt | date:'fullDate' }}</p>
      </div>
      <h4>Description</h4>
      <p class="description">{{ item.snippet.description }}</p>
      <app-statistics-block [statistics]="item.statistics"></app-statistics-block>
    </div>
  </div>
  <ng-template #emptyBlock>
    <h2 class="empty">Sorry, video does not exist</h2>
  </ng-template>
</ng-template>
